* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #1B2430; */
    text-transform: capitalize;
    font-family: "Cairo", sans-serif;
    overflow: hidden;
    cursor: url(https://i.postimg.cc/W3sMYzZ9/5.png), default !important;
}

.upImg {
    position: absolute;
    top: -28px;
    left: -5px;
    height: 103px;
}

.upImg1 {
    top: -28px;
    left: -5px;
}

.upImg2 {
    top: -28px;
    left: 190px;
}

.upImg3 {
    top: -28px;
    left: 385px;
}

.upImg4 {
    top: -28px;
    left: 580px;
}

.upImg5 {
    top: -28px;
    left: 775px;
}

.upImg6 {
    top: -28px;
    left: 970px;
}

.upImg7 {
    top: -28px;
    left: 1165px;
}

.all {
    color: #FFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212639;
}

.all2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.upText {
    color: white;
    position: absolute;
    top: -75px;
    width: 235px;
    text-align: center;
}

.mainHeart {
    display: flex;
    color: #F94C66;
    font-size: 100px;
    animation-name: pop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pop {
    50% {
        font-size: 130px;
    }
    100% {
        font-size: 100px;
    }
}

.bkSh {
    box-shadow: 0px 0px 100px 50px #f94c66;
    position: absolute;
    opacity: 0;
    animation-name: popS;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes popS {
    50% {
        opacity: 1;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
    100% {
        opacity: 0;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.dHText {
    margin-top: 20px;
}

.downText {
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.downText a {
    color: inherit;
    text-decoration: none;
    cursor: url(https://i.postimg.cc/4dTKNxQz/1p.png), pointer !important;
}
.downText a:hover {
    opacity: 75%;
}